.eeg {
  background-color: black;
  height: 100vh;
  color: white;
}

.icons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding: 20px;
}

.icon {
  cursor: pointer;
  transition: transform 0.2s;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.icon:hover {
  transform: scale(1.2);
}
